* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  width: 700px;
  background-color: rgb(214, 204, 252);
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  margin: 1vh;
}

.nav-header-right,
.nav-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}

main {
  width: 700px;
}

.book-cover {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

img {
  max-width: 3vh;
  max-height: 3vh;
}

.book-item {
  display: grid;
  grid-template-columns: 10ch 1fr;
  align-items: center;
  gap: 1vh;
  padding: 2vh;
  margin: 1vh 0;
  background-color: rgb(200, 227, 214);
}

.book-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1vh;
}

.book-details-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.book-details-info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 1vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
  margin-top: 2vh;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

form input {
  padding: 1vh;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
